.formContainer {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(0, 0, 0, 0.4);
}

.modal {
    margin: auto;
    margin-top: 200px;
}

dialog {
    background-color: transparent;
    border: none;
}